CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TLS_PSK_VERIFICATION=y

CONFIG_HEAP_TRACING_STANDALONE=y
CONFIG_HEAP_TRACING_STACK_DEPTH=10
CONFIG_HEAP_POISONING_LIGHT=y
CONFIG_HEAP_TASK_TRACKING=y
CONFIG_ARDUINO_SELECTIVE_COMPILATION=y

CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
